[__CONFIG]
command=rsync
output=false
remember=true
errorlist=false
logging=false
logging_overwrite=false
fastscroll=true
switchbutton=false
trayicon=false
root_x=26
root_y=23
width=556
height=545
last_session=3_to_Nas

[default]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.backup -}}/Backup/Photos
text_dest=/run/user/{{- .chezmoi.uid -}}/gvfs/smb-share:server={{- .nas.domain -}},share=media/Photos
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[Photos_to_Nas]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Photos/
text_dest=/run/user/{{- .chezmoi.uid -}}/gvfs/smb-share:server={{- .nas.domain -}},share=media/Photos/
text_notes=
text_com_before=
text_com_after=
text_addit=
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[work_to_Windows]
is_set=false
text_source={{- .chezmoi.homeDir -}}/work/
text_dest={{- .nas.mountDir -}}/{{- .nas.backup -}}/Work/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=false
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[Music_to_Nas]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Music/
text_dest=/run/user/{{- .chezmoi.uid -}}/gvfs/smb-share:server={{- .nas.domain -}},share=media/Music/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[Calibre_DB_to_Nas]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.backup -}}/Backup/CalibreDB
text_dest=/run/user/{{- .chezmoi.uid -}}/gvfs/smb-share:server={{- .nas.domain -}},share=media/zData/Calibre
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=true
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[config_to_Storage]
is_set=false
text_source={{- .chezmoi.homeDir -}}/.config/
text_dest={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Backup/.config
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=true
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[backup_to_Windows]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Backup/
text_dest={{- .nas.mountDir -}}/{{- .nas.backup -}}/Backup/Linux/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=false
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=true
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[backup_to_Nas]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Backup/
text_dest=/run/user/{{- .chezmoi.uid -}}/gvfs/smb-share:server={{- .nas.domain -}},share=media/zData/Linux/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=true
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[Music_to_Windows]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Music/
text_dest={{- .nas.mountDir -}}/{{- .nas.backup -}}/Music/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=false
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[Documents_to_Windows]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Documents/
text_dest={{- .nas.mountDir -}}/{{- .nas.backup -}}/Backup/Documents/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=false
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[Videos_to_Nas]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.backup -}}/Recordings/
text_dest=/run/user/{{- .chezmoi.uid -}}/gvfs/smb-share:server={{- .nas.domain -}},share=media/Recordings/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[work_to_Nas]
is_set=false
text_source={{- .chezmoi.homeDir -}}/work/
text_dest=/run/user/{{- .chezmoi.uid -}}/gvfs/smb-share:server={{- .nas.domain -}},share=media/zData/Work/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[Photos_to_Windows]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Photos/
text_dest={{- .nas.mountDir -}}/{{- .nas.backup -}}/Photos/
text_notes=
text_com_before=
text_com_after=
text_addit=
check_time=false
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[Documents_to_Nas]
is_set=false
text_source={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Documents/
text_dest=/run/user/{{- .chezmoi.uid -}}/gvfs/smb-share:server={{- .nas.domain -}},share=media/zData/Documents/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[work_to_Storage]
is_set=false
text_source={{- .chezmoi.homeDir -}}/work/
text_dest={{- .nas.mountDir -}}/{{- .nas.mainStorage -}}/Work/
text_notes=
text_com_before=
text_com_after=
text_addit=--exclude-from="{{- .chezmoi.homeDir -}}/.grsync/exclude.txt"
check_time=true
check_perm=false
check_owner=false
check_group=false
check_onefs=false
check_verbose=true
check_progr=true
check_delete=false
check_exist=false
check_size=false
check_skipnew=false
check_windows=false
check_sum=false
check_symlink=false
check_hardlink=false
check_dev=false
check_update=false
check_keepart=false
check_mapuser=false
check_compr=false
check_backup=false
check_itemized=false
check_norecur=false
check_protectargs=true
check_com_before=false
check_com_halt=false
check_com_after=false
check_com_onerror=false
check_browse_files=false
check_superuser=false

[1_to_Storage]
is_set=true
set_session_enabled_config_to_Storage=true
set_session_enabled_work_to_Storage=true

[2_to_Windows]
is_set=true
set_session_enabled_backup_to_Windows=true
set_session_enabled_Documents_to_Windows=true
set_session_enabled_Music_to_Windows=true
set_session_enabled_Photos_to_Windows=true
set_session_enabled_work_to_Windows=true

[3_to_Nas]
is_set=true
set_session_enabled_backup_to_Nas=true
set_session_enabled_Calibre_DB_to_Nas=true
set_session_enabled_Documents_to_Nas=true
set_session_enabled_Music_to_Nas=true
set_session_enabled_Photos_to_Nas=true
set_session_enabled_Videos_to_Nas=true
set_session_enabled_work_to_Nas=true
