{{ $decrypted := decrypt (join .chezmoi.sourceDir "/.secrets.txt.age") }}
{{ $secrets := dict }}
{{ range $line := split $decrypted "\n" }}
  {{ $parts := regexSplit "=" $line 2 }}
  {{ if eq (len $parts) 2 }}
    {{ $key := trim (index $parts 0) }}
    {{ $value := trim (index $parts 1) }}
    {{ $secrets = set $secrets $key $value }}
  {{ end }}
{{ end }}
{{ toYaml $secrets }}