#sourceDir = "~/.dotfiles"
encryption = "age"
[age]
    identity = "~/.age/chezmoi_private.key"
    recipient = "age17436483djtwqyq6f86vvhn8g5hayzj3nzswfkc0z7kf0g994esxsumphvk"

{{ if (lookPath "meld") }}
[diff]
    command = "meld"
{{ end }}
