[cola]
	startupmode = list
	theme = default
	icontheme = dark
	spellcheck = false
[user]
	name = {{ .user.fullName }}
	email = {{ .user.email }}
[commit]
	gpgSign = false
[pull]
	rebase = false
[gui]
	pruneduringfetch = true
[smartgit "submodule"]
	fetchalways = false
	update = true
	initializenew = true
[push]
	recurseSubmodules = check
[diff]
	tool = meld
[merge]
	tool = meld
