[io/github/realmazharhussain/GdmSettings]
initial-warning=false
never-applied=false
donation-dialog-shown=true

[io/github/realmazharhussain/GdmSettings/window-state]
last-visited-page='tools'

[io/github/realmazharhussain/GdmSettings/misc]
enable-logo=false
logo='/run/user/{{ .chezmoi.uid }}/doc/4daec0c1/wallpapersden.com_huawei-4k-stock-abstract_2560x1080.jpg'

[io/github/realmazharhussain/GdmSettings/appearance]
background-image='/run/user/{{ .chezmoi.uid }}/doc/4daec0c1/wallpapersden.com_huawei-4k-stock-abstract_2560x1080.jpg'
background-type='image'
