[General]
CurrentFont=/run/host/fonts/truetype/vlgothic/VL-PGothic-Regular.ttf

[Compare]
MaxOffset=2000
color0=aqua
color1=brown
color10=midnightblue
color11=red
color2=chartreuse
color3=cornflowerblue
color4=darkblue
color5=darkmagenta
color6=olive
color7=darkgrey
color8=mediumvioletred
color9=palevioletred

[Database]
DbName={{ .chezmoi.homeDir }}/.Fontmatrix/Data.sql
Driver=QSQLITE
Hostname=
Password=
User=

[FilterBar]
FiltersOpen=true
MetaOpen=false
PanoseOpen=false
TagsOpen=true

[Info]
PreviewSize=20
Style=/app/share/fontmatrix/resources/info.css

[Panose]
MatchTreshold={{ .chezmoi.uid }}

[Places]
RemoteTmpDir=/var/tmp
TemplatesDir=./

[Preview]
StyleTooltipName="font-weight:bold;"
StyleTooltipPath="font-weight:normal;font-size:small;"
StyleTooltipTags="text-align:right;font-weight:normal;font-size:small;font-style:italic;"
Word=<name>

[Sample]
HyphLeft=2
HyphRight=3
HyphenationDict=
state="@ByteArray(\0\0\0\x14\0N\0\x45\0W\0_\0S\0\x41\0M\0P\0L\0\x45@,\0\0\0\0\0\0\0\0\0\0\xff\xff\xff\xff\xff\xff\xff\xff)"

[Systray]
ActivateAllVisible=false

[WState]
pos=@Point(0 0)
size=@Size(2560 1003)
