[user]
	name = {{ .user.fullName }}
	email = {{ .user.email }}
[merge]
	tool = meld
[mergetool "meld"]
	path = /usr/bin/meld
[mergetool]
	prompt = false
	keepBackup = false
	trustExitCode = false
[diff]
	guitool = meld
[difftool "meld"]
	path = /usr/bin/meld
[difftool]
	prompt = false
	keepBackup = false
	trustExitCode = false
