[user]
	name = {{ .user.fullName }}
	email = {{ .user.email }}
[commit]
	gpgSign = false
[pull]
	rebase = false
[gui]
	pruneduringfetch = true
[push]
	recurseSubmodules = check
[diff]
	tool = meld
	guitool = meld
[difftool "meld"]
	path = /usr/bin/meld
[difftool]
	prompt = false
	keepBackup = false
	trustExitCode = false
[merge]
	tool = meld
	guitool = meld
[mergetool "meld"]
	path = /usr/bin/meld
[mergetool]
	prompt = false
	keepBackup = false
	trustExitCode = false

