{
  "choose-export-folder-for-import": "{{ .nas.mountDirBackup }}/Backup/{{ .chezmoi.kernel.ostype }}/CalibreDB",
  "export-calibre-dir": "{{ .nas.mountDirBackup }}/Backup/CalibreDB",
  "notified-version-updates": {
    "__class__": "set",
    "__value__": [
      "7.26"
    ]
  },
  "save to disk dialog": "{{ .nas.mountDirStorage }}/Books",
  "select-folder-for-imported-library": "{{ .chezmoi.homeDir }}/Calibre Library",
  "sort_history": [
    [
      "authors",
      true
    ],
    [
      "title",
      true
    ],
    [
      "timestamp",
      false
    ]
  ],
  "welcome_wizard_device": "default",
  "welcome_wizard_was_run": true
}